<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragmentos :: imports-css(title='Erro')}">
        <title>title</title>
    </head>
    <body>
        <div th:replace="~{fragmentos :: barramenu(pagina='hoteis')}"/>
        <div class="container" align="center" style="margin-top: 30px">
            <h3>Ops! Nosso servidor apresentou uma falha. Tente novamente mais tarde.</h3>
            <a class="btn btn-primary" th:href="@{~/}" role="button">Voltar</a>
        </div>
            

        <div th:replace="~{fragmentos :: imports-js}"/>
    </body>
</html>
