<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head th:fragment="imports-css(title)">
        <title th:text="${title}">Sistema de Reservas</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link th:href="@{~/webjars/bootstrap/4.5.0/css/bootstrap.min.css}" rel="stylesheet"/>
    </head>
    <body>
        <div th:fragment="barramenu(pagina)">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <a class="navbar-brand" href="/">
                        <img th:src="@{~/imagens/sino.png}" width="30" height="30" class="d-inline-block align-top"/>
                        Sistema de Reservas
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#textoNavbar" aria-controls="textoNavbar" aria-expanded="false" aria-label="Alterna navegação">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="textoNavbar">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item" th:classappend="${pagina == 'hoteis' ? 'active' : ''}">
                                <a class="nav-link" th:href="@{~/hoteis}">Hoteis</a> 
                            </li>
                            <li class="nav-item" th:classappend="${pagina == 'clientes' ? 'active' : ''}">
                                <a class="nav-link" th:href="@{~/clientes}">Clientes</a> 
                            </li>
                            <li class="nav-item" th:classappend="${pagina == 'funcionarios' ? 'active' : ''}" sec:authorize="hasRole('ROLE_ADMIN')">
                                <a class="nav-link" th:href="@{~/funcionarios}" >Funcionarios</a> 
                            </li>
                            <li class="nav-item" th:classappend="${pagina == 'meusdados' ? 'active' : ''}">
                                <a class="nav-link" th:href="@{~/funcionarios/meusdados}">Meus Dados</a> 
                            </li>
                        </ul>
                        <a sec:authorize="isAuthenticated()" class="btn btn-outline-danger" style="float: right" th:href="@{~/logout}" role="button">Sair</a>
                    </div>
                </nav>

            </div>
        </div>
        
        <div th:fragment="mensagens">
            <div th:if="${not #strings.isEmpty(msgErros)}" class="alert alert-danger alert-dismissible fase show" role="alert">
                <p th:each="msg : ${msgErros}" th:text="${msg.getDefaultMessage()}"></p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>            
            <div th:if="${not #strings.isEmpty(msgSucesso)}" class="alert alert-success alert-dismissible fade show" role="alert">
                <p th:each="m : ${msgSucesso}" th:text="${m}"></p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>

        <div th:fragment="imports-js">
            <script th:src="@{~/webjars/jquery/3.5.1/jquery.min.js}"></script>
            <script th:src="@{~/webjars/bootstrap/4.5.0/js/bootstrap.bundle.min.js}"></script>
        </div>

    </body>
</html>
