<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragmentos :: imports-css(title='Sistema de Reservas')}">
        <title>title</title>
    </head>
    <body>
        <div th:replace="~{fragmentos :: barramenu(pagina='')}"/>
        <div class="container" align="center">
            <img th:src="@{imagens/sino_cinza.png}" style="opacity: 10%"/>
        </div>

        <div th:replace="~{fragmentos :: imports-js}"/>
    </body>
</html>
