<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragmentos :: imports-css(title='Reservas')}">
        <title>title</title>
    </head>
    <body>
        <div th:replace="~{fragmentos :: barramenu(pagina='hoteis')}"/>
        <div class="container" style="margin-top: 20px">
            <div class="card-header">
                <h4>Reservas cadastradas
                    <a class="btn btn-primary float-right" th:href="@{~/hoteis/{hotel}/reservas/reserva(hotel=${idHotel})}" role="button">Nova Reserva</a>
                </h4>
            </div>


            <div class="card" th:each="reserva : ${reservas}">
                <div class="card-body">

                    <div class="card-text">
                        <span>Quartos:</span>
                        <span th:each="quarto, i : ${reserva.quartos}" th:text="${i.last} ? ${quarto.numero} : ${quarto.numero+', '}"></span>
                    </div>


                    <div class="card-text">
                        <span>Cliente:</span>
                        <span th:text="${reserva.cliente.nome}"></span>
                    </div>
                    <div class="card-text">
                        <span>Inicio:</span>
                        <span th:text="${reserva.inicio.get(5)+'/'+(reserva.inicio.get(2)+1)+'/'+reserva.inicio.get(1)}"></span>
                    </div>
                    <div class="card-text">
                        <span>Termino:</span>
                        <span th:text="${reserva.termino.get(5)+'/'+(reserva.termino.get(2)+1)+'/'+reserva.termino.get(1)}"></span>
                    </div>
                    <div class="card-text">
                        <a th:href="@{~/hoteis/{hotel}/reservas/reserva/{id}(id=${reserva.id}, hotel=${idHotel})}" class="btn btn-warning">Editar</a>
                        <a th:href="@{~/hoteis/{hotel}/reservas/{id}/deletar(id=${reserva.id}, hotel=${idHotel})}" class="btn btn-danger" onclick="return confirm('Deseja realmente excluir essa reserva?')">Excluir</a>
                    </div>

                </div>

            </div>

        </div>

        <div th:replace="~{fragmentos :: imports-js}"/>
    </body>
</html>
